:deep(.el-dialog__body) {
  min-height: 600px;
}

:deep(.el-switch) {
  --el-switch-on-color: --el-switch-on-color;
}

.el-menu .el-menu--vertical {
  background: transparent;
}

.el-menu-item {
  height: 40px;
  line-height: 40px;

}

.el-header {
  height: var(--topbar-height) !important;
}

.el-dialog {
  padding: 20px !important;
  border-radius: 8px !important;
}

.el-card {
  border-radius: 8px !important;
}

.el-dialog__body {
  max-height: calc(100vh - 400px);
}


